.pretty input:checked~.state.checkbox-color label:after,.pretty.p-toggle .state.checkbox-color label:after {
    background-color: #00d1b2!important
}

.pretty input:checked~.state.checkbox-color .icon,.pretty input:checked~.state.checkbox-color .svg,.pretty.p-toggle .state.checkbox-color .icon,.pretty.p-toggle .state.checkbox-color .svg {
    color: #fff;
    stroke: #fff
}

.pretty input:checked~.state.checkbox-color-o label:before,.pretty.p-toggle .state.checkbox-color-o label:before {
    border-color: #00d1b2
}

.pretty input:checked~.state.checkbox-color-o label:after,.pretty.p-toggle .state.checkbox-color-o label:after {
    background-color: transparent
}

.pretty input:checked~.state.checkbox-color-o .icon,.pretty input:checked~.state.checkbox-color-o .svg,.pretty input:checked~.state.checkbox-color-o svg,.pretty.p-toggle .state.checkbox-color-o .icon,.pretty.p-toggle .state.checkbox-color-o .svg,.pretty.p-toggle .state.checkbox-color-o svg {
    color: #00d1b2;
    stroke: #00d1b2
}

.pretty.p-default:not(.p-fill) input:checked~.state.checkbox-color-o label:after {
    background-color: #00d1b2!important
}

.pretty.p-switch input:checked~.state.checkbox-color:before {
    border-color: #00d1b2
}

.pretty.p-switch.p-fill input:checked~.state.checkbox-color:before {
    background-color: #00d1b2!important
}

