/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

div::-webkit-scrollbar-track {
    background-color: transparent;
}

div::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

div::-webkit-scrollbar-thumb {
    background-color: #262e3b;
}